html {
	overflow-y: scroll;
}
body {
    font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
}
h1 {
	width: 1000px;
	margin: 10px auto;
}
.container {
	width: 1000px;
	padding-top: 600px;
	overflow: hidden;
	/*background: url(img/arena1.jpg);*/
	margin: 0 auto;
	position: relative;
	font-size: 12px;
	border: 1px solid #ccc;
}
.messages {
	position: absolute;
	top: 0;
	left: 0;
}
.messages .points {
	color: rgba(255,0,0,.9);
}
.messages .me {
	color: rgba(255,120,0,.9);
}
.object {
	position: absolute;
	background: rgba(150,150,150,.75);
}
.object.forPoints {
	background: rgba(255,120,0,.7);
}
.object.highlight {
	background: rgba(255,0,0,.9);
}
.player {
	position: absolute;
	background: url(img/dude.png) -11px 0;
}
.player.walkingLeft {
	background: url(img/sprites_all.png) -11px 0;
}
.player.walkingRight {
	background: url(img/sprites_all.png) -11px -240px;
}
.player.punchLeft {
    background: url(img/sprites_all.png) -11px -80px;
}
.player.punchRight {
    background: url(img/sprites_all.png) -11px -160px;
}
.player.shotgunLeft {
    background: url(img/sprites_all.png) -11px -320px;
}
.player.shotgunRight {
    background: url(img/sprites_all.png) -11px -400px;
}
.player.me {
	background: url(img/dude_me.png) -11px -40px;
}
.player.walkingLeft.me {
	background: url(img/sprites_all.png) -11px -40px;
}
.player.walkingRight.me {
	background: url(img/sprites_all.png) -11px -280px;
}
.player.punchLeft.me {
    background: url(img/sprites_all.png) -11px -120px;
}
.player.punchRight.me {
    background: url(img/sprites_all.png) -11px -200px;
}
.player.shotgunLeft.me {
    background: url(img/sprites_all.png) -11px -360px;
}
.player.shotgunRight.me {
    background: url(img/sprites_all.png) -11px -440px;
}

.bullet {
	position: absolute;
	width: 35px;
	height: 2px;
	background: url(img/bullets.png);
}
.controls {
    position: absolute;
    top: 0;
    left: 0;
    padding: 150px 300px;
    height: 400px;
    text-align: center;
    z-index: 1;
    background: rgba(0,0,0,0.5);
}
.controls input[type=button] {
    padding: 4px 15px;
    font-size: 20px;
    margin-top: 20px;
}
input {
    cursor: pointer;
    font-family: "Comic Sans MS", sans-serif;
}